nav {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
}

.left-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.left-content:hover {
    color: red;

    transition: color 0.3s;
}

.span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}


.logo-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
}

.logo {
    width: 100%;
    height: 100%;
    background-color: grey;
    object-fit: cover;
    object-position: center;
}

ul {
    display: flex;
    gap: 50px
}
li {
    display: list-item;
    text-align: inherit;
    list-style: none;
    padding-top: 2px;
}



.links {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.links:hover {
    color: red;
    transition: color 0.3s;
}